@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');

body{
    font-family: 'Tajawal', sans-serif;
    height: 100vh;
    /* width: 100vw; */
    background-size: 100%;
    margin: none;
}

.top-part{
    background-color: #eff2f7;
    /* margin: none; */
    color: #273444;
}

.svg{
    height: 40px;
    color: #273444;
}

.contact-container{
    display: flex;
    padding-top: 20px;
    font-size: 20px;
   
   
}

.icon-container{
    margin-left: 344px;
    
}

.subscribe-container{
    margin-left: 206px;
}

#icons img{
    height:50px;
    width: 50px;
}

#icons{
    display: flex;
    justify-content: space-evenly;
}

.last-part{
    background-color: #1f2d3d;
    color: white;
    padding: 4px;
    text-align: center;
}
.bottom-part{
    background-color: #3c4858;
    color: white;
}

.whole{
    display: flex;
    /* margin-left: 400px; */
    justify-content: space-evenly;
    width: 1500px;
    margin: auto;
    line-height: 10px;
    font-size: 19px;
}

.whole p:hover{
    text-decoration: underline;
    cursor: pointer;
}

.p2,.p3,.p4{
    border-left: solid 1px grey;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 2px;
}

.p1{
    padding: 20px;
    margin-top: 40px;
    /* margin-left: 100px; */
}

.whole h4{
    padding-bottom: 7px;
    border-bottom: solid 1px grey;
    font-size: 22px;
    /* width: 245px; */

}

#input{
    height: 56px;
    width: 458px;
    border-radius: 40px;
    border: none;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 20px;
    outline: none;
}

#submit{
    height: 56px;
    width: 134px;
    border-radius: 40px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    background-color: white;
    -webkit-transition: 0.2s ease-in-out;
    transition-delay: 0.09s;
}

#submit:hover{
    background-color: #3c4858;
    color: white;
    transition-delay: 0.3s;
    -webkit-transition: 0.4s ease-out;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 1px 8px 0px, rgba(0, 0, 0, 0.8) 0px 3px 3px -2px, rgba(0, 0, 0, 0.7) 0px 3px 4px 0px;
}

.p1,.p2,.p3,.p4{
    height: 518px;
    width: 250px;
}

.details{
    display: flex ;
    width: 60%;
    height: auto;
    margin-top: 80px;
    margin-left: 400px;
    margin-bottom: 90px;
}

.details h4{
font-size: 18px;
}

.details p{
    font-size: 16px;
    padding-top: 30px;
}
    
.det1,.det2,.det3,.det4{
    height: 170px;
    width: 270px;
    margin-right: 20px;
    
}

.det3 p{
    padding-top: 5px;
}

.pay{
    display:flex;
    justify-content: space-evenly;
    width: 50%;
    /* margin-left: 500px; */
    padding-top: 40px;
    margin: auto;
}

.pay img{
    padding-right: 30px;
}

.last-part h6{
    font-weight: 500;
    font-size: 10px;
    /* padding: none; */
}

.det1>img{
   display: flexbox;
}

#input:focus{
    border-bottom: 2px solid blue;
}

.last-part{
    padding: none;
}